$desktopSize: 1024px;
$tabletSize: 768px;
$L-mobileSize: 650px;
$mobileSize: 480px;

@mixin desktop {
  @media (max-width: #{$desktopSize}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletSize}) {
    @content;
  }
}

@mixin L-mobile {
  @media (max-width: #{$L-mobileSize}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobileSize}) {
    @content;
  }
} ;
