@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&display=swap');
@import './mediaquery/MediaQuery';

.profile-cover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: linear-gradient(
    90deg,
    rgb(124, 108, 117) 40%,
    rgb(247, 247, 247) 35%
  );

  @include L-mobile {
    background: rgb(245, 239, 230);
  }
  .profile-container {
    position: relative;
    margin-top: 60px;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 40% 5fr 1fr;
    grid-template-areas:
      'top1 top2 top3' 'middle1 middle2 middle3'
      'bottom1 bottom2 bottom3';
    .profile-img {
      grid-area: middle1;
      position: relative;
      img {
        position: absolute;
        box-shadow: 12px 14px 19px 0px rgba(0, 0, 0, 0.38);
        right: 20%;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
        border-radius: 1%;
        @include tablet {
          top: 15%;
        }
        @include L-mobile {
          display: none;
        }
      }
    }
    .info-head {
      grid-area: middle2;
      position: relative;
      font-size: 1rem;
      @include L-mobile {
        grid-area: middle1;
        margin-left: 10%;
        position: static;
      }
      @include mobile {
        font-size: 0.8rem;
      }
      .info-about {
        color: rgb(100, 100, 96);
        position: absolute;
        left: 6%;
        z-index: 1;

        .about-me {
          font-size: 1.5em;
          letter-spacing: 2px;
          margin-bottom: 7%;
        }
        .who-am-i {
          font-size: 1.8em;
          color: rgb(76, 111, 165);
          span {
            letter-spacing: 4px;
          }
        }
      }
      img {
        position: absolute;
        top: -2%;
        right: 10%;
        width: 100px;
        height: 120px;
        z-index: 0;
        @include tablet {
          width: 80px;
          height: 100px;
        }
        @include L-mobile {
          top: 20%;
          right: 25%;
        }
        @include mobile {
          width: 70px;
          height: 80px;
        }
      }
    }
    .info-text {
      color: rgb(49, 44, 44);
      grid-area: middle2;
      position: relative;
      font-size: 1rem;
      @include desktop {
        font-size: 0.9rem;
      }
      @include tablet {
        font-size: 0.8rem;
      }
      @include L-mobile {
        position: static;
      }
      @include mobile {
        font-size: 0.7rem;
      }

      .introduce {
        position: absolute;
        top: 25%;
        right: 0;
        width: 80%;
        @include L-mobile {
          top: 35%;
          width: 60%;
          right: 20%;
        }
        p {
          margin-top: 5%;
          text-align: justify;
          font-size: 1.05em;
          line-height: 1.5em;
          font-weight: 500;
        }
      }
      .drawing-man {
        position: absolute;
        width: 200px;
        height: 200px;
        z-index: 1;
        left: 10%;
        bottom: -15%;
        opacity: 1;
        @include L-mobile {
          bottom: 5%;
          opacity: 0.4;
        }
      }
    }
    .site-info {
      font-family: 'Anton', sans-serif;
      font-family: 'Architects Daughter', cursive;
      grid-area: bottom2;
      position: relative;
      .tech-site {
        color: rgb(48, 48, 46);
        position: absolute;
        right: 0%;
        bottom: 10%;
        font-size: 0.7rem;
        @include tablet {
          font-size: 0.5rem;
        }
        h1 {
          transition: transform 0.5s;
          &:hover {
            transform: scale(1.2);
          }
          .water-drop1 {
            position: absolute;
            left: -23%;
            top: -15%;
            width: 15px;
            height: 15px;
            transform: rotate(90deg);
          }
          .water-drop2 {
            position: absolute;
            left: -10%;
            top: -30%;
            width: 15px;
            height: 15px;
            transform: rotate(140deg);
          }
        }
        a {
          color: rgba(31, 97, 45, 0.747);
          text-decoration: underline;
        }

        i {
          font-size: 24px;
          margin-right: 5px;
          color: rgb(48, 43, 43);
        }
      }
    }
  }
}
