@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&display=swap');
@import './mediaquery/MediaQuery';
.nav-container {
  font-weight: 900;
  font-size: 1.1rem;
  position: sticky;
  height: 60px;
  z-index: 999;
  display: flex;
  .logo {
    font-family: 'Anton', sans-serif;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Pacifico', cursive;
    h1 {
      cursor: pointer;
      padding: 1rem 2rem;
      font-weight: 100;
      color: rgb(48, 50, 75);
    }
  }
  i {
    position: absolute;
    top: 20%;
    right: 3%;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    @include tablet {
      display: block;
    }
  }
  .nav-list {
    position: absolute;
    right: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Architects Daughter', cursive;
    width: calc(100vw - 40%);
    height: 60px;
    display: flex;
    justify-content: flex-end;

    @include tablet {
      display: none;
    }
  }

  .sidebar {
    font-family: 'Anton', sans-serif;
    font-family: 'Architects Daughter', cursive;
    background-color: rgb(159, 190, 211);
    border-radius: 3%;
    position: absolute;
    right: 0;
    margin-top: 60px;
    height: 0;
    width: 30vw;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: height 0.5s;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      width: 100%;
      &:hover {
        text-decoration: underline;
      }
      &.contact {
        margin: 0;
      }
      img {
        display: none;
      }
    }
  }

  li {
    margin: 1rem auto;
    padding: 1rem 1rem;
    cursor: pointer;
    align-self: center;
    &:hover {
      text-decoration: underline;
    }
    &.contact {
      margin-right: 5%;
      .balloon {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 15%;
        opacity: 1;
        cursor: default;
      }
    }
    &.about {
      position: relative;
      .red-circle {
        position: absolute;
        top: 4px;
        left: -24px;
        width: 120px;
        height: 50px;
        z-index: -1;
      }
    }
  }
}
