@import './mediaquery/MediaQuery';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.skills-cover {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url('../wallpaper.jpg');
  .skills-container {
    position: relative;
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 40% 1.5fr 1fr;
    grid-template-areas: 'top1 top2 top3' 'middle middle middle';
    @include mobile {
      grid-template-rows: 20% 1fr;
    }
    .info-head {
      grid-area: top1;
      font-size: 0.9rem;
      @include mobile {
        font-size: 0.7rem;
      }
      .info-skills {
        font-weight: bold;
        top: 5%;
        position: absolute;
        left: 6%;
        z-index: 1;
        .what-i-do {
          font-size: 1.5em;
          letter-spacing: 2px;
          margin-bottom: 7%;
          color: rgb(42, 101, 190);
        }
        .intro-skills {
          font-size: 1.8em;
          color: rgb(85, 85, 82);
        }
      }
    }
    .flower-img {
      grid-area: top1;
      position: relative;
      img {
        position: absolute;
        top: -40%;
        right: 15%;
        width: 50%;
        height: 100%;
        opacity: 1;
        @include tablet {
          right: -80%;
          top: -25%;
          height: 80%;
        }
        @include mobile {
          top: -70%;
          width: 80%;
          height: 170%;
        }
      }
    }

    .kind-of-skill {
      grid-area: middle;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: flex-end;
      background: url('../wallpaper.jpg');
      article {
        margin: 2%;
        width: 200px;
        height: 280px;
        margin-bottom: 3%;
        margin-left: 5%;
        position: relative;
        border-radius: 1%;
        display: flex;
        justify-content: center;
        border: black 5px double;
        border-radius: 3%;
        transition: transform 0.5s;
        background: rgb(247, 247, 247);

        &:hover {
          transform: scale(1.1);
        }
        &.html {
          box-shadow: 0px 0px 1px 2px #f50707;
        }
        &.sass {
          box-shadow: 0px 0px 1px 2px #ff0080;
        }
        &.javascript {
          box-shadow: 0px 0px 1px 2px #ffee00;
        }
        &.typescript {
          box-shadow: 0px 0px 1px 2px #211edb;
        }
        &.react {
          box-shadow: 0px 0px 1px 2px #04a3ff;
        }
        &.node {
          box-shadow: 0px 0px 1px 2px #19ff04;
        }
        &.webpack {
          box-shadow: 0px 0px 1px 2px #003a92;
        }
        &.git {
          box-shadow: 0px 0px 1px 2px #920000;
        }
        img {
          position: absolute;
          top: 5%;
          width: 30%;
          height: 25%;
          &.sitting-man {
            position: absolute;
            top: -25%;
            width: 40%;
            opacity: 0.8;
          }
        }
        .content {
          position: absolute;
          width: 100%;
          height: 65%;
          bottom: 0;
          left: 0;
          border-top: 3px solid rgb(110, 110, 110);
          display: flex;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
          h1 {
            margin-top: 5%;
            font-size: 1.3rem;
          }
          h3 {
            margin-top: 5%;
          }
          h4 {
            margin-top: 2%;
          }
        }
      }
    }
  }
}
