@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import './mediaquery/MediaQuery';

.skills-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'top1 top2 top3' 'middle middle middle';
  background: rgb(248, 250, 240);
  -webkit-box-shadow: 0px -2px 3px 0px #000000;
  box-shadow: 0px -2px 3px 0px #000000;
  .info-head {
    grid-area: top1;
    font-size: 0.9rem;
    @include mobile {
      font-size: 0.7rem;
    }
    .info-skills {
      font-weight: bold;
      top: 5%;
      position: absolute;
      left: 6%;
      z-index: 1;
      .what-i-do {
        font-size: 1.5em;
        letter-spacing: 2px;
        margin-bottom: 7%;
        color: rgb(122, 153, 199);
      }
      .intro-skills {
        font-size: 1.8em;
        color: rgb(85, 85, 82);
      }
    }
  }
  .kind-of-skill {
    grid-area: middle;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    article {
      margin: 2%;
      width: 200px;
      height: 280px;
      margin-bottom: 3%;
      margin-left: 5%;
      position: relative;
      border-radius: 1%;
      display: flex;
      justify-content: center;
      border: black 5px double;
      border-radius: 3%;
      &.html {
        box-shadow: 0px 5px 7px 0px #f50707;
      }
      &.sass {
        box-shadow: 0px 5px 10px 0px #ff0080;
      }
      &.javascript {
        box-shadow: 0px 5px 10px 0px #ffee00;
      }
      &.typescript {
        box-shadow: 0px 5px 10px 0px #211edb;
      }
      &.react {
        box-shadow: 0px 5px 10px 0px #04a3ff;
      }
      &.node {
        box-shadow: 0px 5px 10px 0px #19ff04;
      }
      &.webpack {
        box-shadow: 0px 5px 10px 0px #003a92;
      }
      &.git {
        box-shadow: 0px 5px 10px 0px #920000;
      }
      img {
        position: absolute;
        top: 5%;
        width: 30%;
        height: 25%;
      }
      .content {
        font-family: 'Noto Serif', serif;
        position: absolute;
        width: 100%;
        height: 65%;
        bottom: 0;
        left: 0;
        border-top: 2px solid rgb(110, 110, 110);
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        h1 {
          margin-top: 5%;
        }
        h3 {
          margin-top: 5%;
        }
        h4 {
          margin-top: 2%;
        }
      }
    }
  }
}
