@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.skills-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'top1 top2 top3' 'middle middle middle';
  background: rgb(248, 247, 233);
  .info-head {
    grid-area: top1;
    font-size: 0.9rem;
    font-style: italic;
    .info-skills {
      font-family: 'Castoro', serif;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      top: 15%;
      position: absolute;
      left: 6%;
      z-index: 1;
      .what-i-do {
        font-size: 1.5em;
        letter-spacing: 2px;
        margin-bottom: 7%;
        color: rgb(122, 153, 199);
      }
      .intro-skills {
        font-size: 1.8em;
        color: rgb(85, 85, 82);
      }
    }
  }
  .kind-of-skill {
    grid-area: middle;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    background: rgb(248, 247, 233);
    article {
      box-shadow: 0px 6px 17px 4px rgba(44, 44, 44, 0.98);
      margin: 2%;
      width: 200px;
      height: 280px;
      margin-bottom: 3%;
      margin-left: 5%;
      position: relative;
      border-radius: 1%;
      img {
        position: absolute;
        width: 100%;
        height: 35%;
      }
      .content {
        font-family: 'Noto Serif', serif;
        position: absolute;
        width: 100%;
        height: 65%;
        bottom: 0;
        left: 0;
        border-top: 2px solid rgb(110, 110, 110);
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }
}
